  .banner-container {
    min-width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  /* 왼쪽 div */
  .banner-div {
    background-color: #ececec;
    width: 1350px;
    height: 770px;
    margin-top: 80px;
    border: #ececec solid 50px;
    text-align: left;
    display: inline-block;
    overflow: hidden;
  }
  .banner-btn {
    white-space: normal;
    text-align: center;
    width: 1350px;
    height: 500px;
  }
  .banner-btn input{
    width: 30px;
    height: 15px;
    margin: 5px;
    display: none;
  }
  #banner-btn1:checked ~ .banner-slide {transform: translate(0px);}
  #banner-btn2:checked ~ .banner-slide {transform: translate(-1350px);}
  #banner-btn3:checked ~ .banner-slide {transform: translate(-2700px);}
  
  .banner-slide-div label {position: absolute; z-index:1;transform:translateY(320px);padding:50px;cursor: pointer; display: none;}
  .left {left:-20px;background:url('/public/img/left.jpg') center center / 100% no-repeat;}
  .right {right:-20px;background:url('/public/img/right.jpg') center center / 100% no-repeat;}
  
  .banner-slide:hover label {display: inline-block;}
  
  .banner-slide {
    width: 4050px;
    white-space: nowrap;
    transition: all 0.5s;
  }
  .banner-slide-div {
    width: 1350px;
    height: 758px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .banner-slide-div img{
    width: 100%;
  }
  .banner-link-div {
    width: 600px;
    height: 40px;
    position: absolute;
    top: 700px;
    left: 375px;
    text-align: center;
    z-index: 10;
  }
  .banner-link-div a {
    color: #757575;
    text-decoration: none;
    border-bottom: #757575 solid 2px;
    margin-left: 10px;
    display: block;
    width: 80px;
    height: 30px;
  }
  .banner-link {
    width: 100px;
    height: 30px;
    margin-left: 23px;
    margin-right: 23px;
    display: inline-block;
    text-align: center;
  }
  .banner-link:hover {
    border-left: #ececec solid 1px;
    border-right: #ececec solid 1px;
    margin-left: 22px;
    margin-right: 22px;
  }
  .banner-link:hover a{
    color: #ececec;
    text-decoration: none;
    border-bottom: #ececec solid 3px;
  }