.filterlist-container {
    width: 100%;
    height: 1000px;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.filterlist-sec {
    background-color: #ececec;
    width: 1450px;
    height: 1000px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.filterlist-filter-div {
    background-color: #ececec;
    width: 1350px;
    height: 40px;
    position: relative;
    text-align: left;
    display: inline-block;
}
.filterlist-filter {
    background-color: #ececec;
    width: 70px;
    height: 30px;
    margin: 5px;
    margin-left: 15px;
    border-radius: 7px;
    border: #b4b4b4 solid 2px;
    text-align: center;
    display: inline-block;
}
.filterlist-filter:hover {
    background-color: #b4b4b4;
}
.filterlist-filter a {
    font-weight: 500;
    text-decoration: none;
    color: #585858;
    display: block;
    width: 70px;
    height: 30px;
}
.filterlist-filter:hover a{
    color: #ececec;
}
.filterlist-filter-check {
    background-color: #b4b4b4;
    width: 70px;
    height: 30px;
    margin: 5px;
    margin-left: 15px;
    border-radius: 7px;
    border: #b4b4b4 solid 2px;
    text-align: center;
    display: inline-block;
}
.filterlist-filter-check a {
    font-weight: 500;
    text-decoration: none;
    color: #ececec;
    display: block;
    width: 70px;
    height: 30px;
}

.filterlist-div {
    background-color: #ececec;
    width: 1350px;
    height: 910px;
    border: #ececec solid 50px;
    display: inline-block;
    text-align: left;
    overflow: hidden;
}
.filterlist-list1 {
    background-color: #ececec;
    width: 327px;
    height: 450px;
    border-radius: 15px;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.filterlist-list1:hover {background-color: #e4e4e4;}
.filterlist-list {
    background-color: #ececec;
    width: 327px;
    height: 450px;
    border-radius: 15px;
    margin-left: 14px;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.filterlist-list:hover {background-color: #e4e4e4;}
.filterlist-list-img-div-gray {
    /* background-image: url(/public/img/slide.jpg);
    background-size: cover; */
    background-color: #cfcfcf;
    width: 323px;
    height: 250px;
    margin-top: 2px;
    border-radius: 15px;
    display: inline-block;
}
.filterlist-list-img-div-blue {
    /* background-image: url(/public/img/slide.jpg);
    background-size: cover; */
    background-color: #abdef5;
    width: 323px;
    height: 250px;
    margin-top: 2px;
    border-radius: 15px;
    display: inline-block;
}
.filterlist-list-img-div-red {
    /* background-image: url(/public/img/slide.jpg);
    background-size: cover; */
    background-color: #f5abab;
    width: 323px;
    height: 250px;
    margin-top: 2px;
    border-radius: 15px;
    display: inline-block;
}
.filterlist-list-img-div-yellow {
    /* background-image: url(/public/img/slide.jpg);
    background-size: cover; */
    background-color: #f5eaab;
    width: 323px;
    height: 250px;
    margin-top: 2px;
    border-radius: 15px;
    display: inline-block;
}
.filterlist-list-img-div-green {
    /* background-image: url(/public/img/slide.jpg);
    background-size: cover; */
    background-color: #abf5c1;
    width: 323px;
    height: 250px;
    margin-top: 2px;
    border-radius: 15px;
    display: inline-block;
}
.filterlist-list-sub-div {
    width: 307px;
    height: 170px;
    margin: 10px;
    text-align: left;
    white-space: pre-line;
    display: inline-block;
}
.filterlist-list-sub-div h2 {
    margin-top: 1px;
}