.filterlist-container {
    width: 100%;
    height: 1450px;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    overflow: hidden;
}
.filterlist-filter-div {
    background-color: #ececec;
    width: 1350px;
    height: 40px;
    text-align: left;
    white-space: nowrap;
    display: inline-block;
}
.filterlist-filter {
    background-color: #ececec;
    width: 70px;
    height: 30px;
    margin: 5px;
    margin-left: 30px;
    border-radius: 7px;
    border: #b4b4b4 solid 2px;
    text-align: center;
    display: inline-block;
}
.filterlist-filter a {font-weight: 500;}

.filterlist-div {
    background-color: #ececec;
    width: 1350px;
    height: 1360px;
    border: #ececec solid 50px;
    display: inline-block;
    text-align: left;
    overflow: hidden;
}
.filterlist-list1 {
    background-color: #ececec;
    width: 327px;
    height: 450px;
    border-radius: 15px;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.filterlist-list1:hover {background-color: #e4e4e4;}
.filterlist-list {
    background-color: #ececec;
    width: 327px;
    height: 450px;
    border-radius: 15px;
    margin-left: 14px;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.filterlist-list:hover {background-color: #e4e4e4;}
.filterlist-list-img-div {
    background-image: url(/public/img/slide.jpg);
    background-size: cover;
    background-color: bisque;
    width: 323px;
    height: 250px;
    margin-top: 2px;
    border-radius: 15px;
    display: inline-block;
}
.filterlist-list-sub-div {
    width: 307px;
    height: 170px;
    margin: 10px;
    text-align: left;
    white-space: pre-line;
    display: inline-block;
}
.filterlist-list-sub-div h2 {
    margin-top: 1px;
}