  .manuscript-container {
    min-width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .manuscript-div {
    background-color: #bebebe;
    width: 1350px;
    height: 770px;
    margin-top: 80px;
    border: #ececec solid 50px;
    text-align: center;
    display: inline-block;
  }
  
  .manuscript-box {
    background-color: #dab0b0;
    width: 1350px;
    height: 323px;
    margin-top: 185px;
    border-top: #d4d4d4 solid 2px;
    border-bottom: #d4d4d4 solid 2px;
  }
  
  .manuscript-sub-box {
    width: 1350px;
    height: 150px;
    margin-top: 5px;
    border-top: #d4d4d4 solid 2px;
    border-bottom: #d4d4d4 solid 2px;
  }
  .manuscript-sub {
    
  }