.App {
  width: 100%;
  height: 2100px;
  background-color: rgb(210, 209, 209);
}

.App-link {
  color: white;
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line-container {
  min-width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.grayline {
  background-color: gray;
  height: 1px;
  margin-top: 15px;
  width: 1450px;
  display: inline-block;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  width: 100%;
  position: fixed;
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 27px;
  color: white;
  justify-content: center;
  white-space: nowrap;
}
.logo-flex {
  background-color: #282c34;
  width: 250px;
  height: 80px;
  text-align: center;
  align-items: center;
  display: inline-flex;
}
.nav-container {
  background-color: #282c34;
  width: 600px;
  height: 80px;
  margin-left: 600px;
  flex-direction: row;
  align-items: center;
  text-align: center;
  display: flex;
}
.nav-container ul {
  font-size: 0;
  margin: 0;
  padding: 0;
}
.nav-container ul li {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 80px;
}
.nav-container ul li:hover {
  background-color: #d4d4d4;
  color: #282c34;
}
.nav-container ul li:hover a {
  font-size: 19px;
  color: #282c34;
}
.nav-container ul li a {
  display: block;
  color: #ececec;
  padding-top: 27px;
  font-size: 19px;
  text-decoration: none;
}
.nav-container ul li ul {
  border-bottom: 3px solid #33a9fe;
  display: none;
  position: absolute;
  width: 200px;
  height: 240px;
}
.nav-container ul li:hover ul {
  border-bottom: 3px solid #33a9fe;
  display: block;
  position: absolute;
  padding-top: 27px;
  width: 200px;
  height: 250px;
}
.nav-container ul li ul li {
  border-top: 1px solid #282c34;
  height: 80px;
  display: block;
}
.nav-container ul li ul li a {
  background-color: #d4d4d4;
  display: block;
  padding: 27px;
}
.nav-container ul li ul li:hover a {
  background-color: #282c34;
  display: block;
  padding: 27px;
  color: #ececec;
}



.first-container {
  min-width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.first-div {
  background-color: #ececec;
  width: 785px;
  height: 900px;
  margin-top: 80px;
  border: #ececec solid 50px;
  text-align: left;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.second-div {
  background-color: #696969;
  width: 250px;
  height: 900px;
  margin-left: 15px;
  border: #696969 solid 50px;
  text-align: left;
  display: inline-block;
  padding-right: 200px;
  color: #ececec;
  overflow: hidden;
  white-space: nowrap;
}

.second-container {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  white-space: nowrap;
}
.third-div {
  background-color: #ececec;
  width: 1350px;
  height: 500px;
  border: #ececec solid 50px;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.footer-container {
  background-color: #282c34;
  width: 100%;
  height: 350px;
  margin-top: 120px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.footer-div {
  background-color: #282c34;
  width: 1350px;
  height: 250px;
  color: #ececec;
  border: #282c34 solid 50px;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}