.App {
  width: 100%;
  height: 2100px;
  background-color: rgb(210, 209, 209);
}

.App-link {
  color: white;
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line-container {
  min-width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.grayline {
  background-color: gray;
  height: 1px;
  margin-top: 15px;
  width: 1450px;
  display: inline-block;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  width: 100%;
  position: fixed;
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 27px;
  color: white;
  justify-content: center;
  white-space: nowrap;
  z-index: 9;
}
.logo-flex {
  background-color: #282c34;
  width: 850px;
  height: 80px;
  text-align: center;
  align-items: center;
  display: inline-flex;
  z-index: 10;
}
.nav-container {
  background-color: #282c34;
  width: 600px;
  height: 80px;
  flex-direction: row;
  align-items: center;
  text-align: center;
  display: flex;
}
.nav-container ul {
  font-size: 0;
  margin: 0;
  padding: 0;
}
.nav-container ul li {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 80px;
  transition: all .2s;
}
.nav-container ul li:hover {
  background-color: #d4d4d4;
  color: #282c34;
}
.nav-container ul li:hover .nav-a {
  font-size: 19px;
  color: #282c34;
}
.nav-container ul li a {
  display: block;
  color: #ececec;
  padding-top: 27px;
  font-size: 19px;
  text-decoration: none;
  transition: all .2s;
}
.nav-container ul li ul {
  border-bottom: 3px solid #33a9fe;
  display: none;
  position: absolute;
  width: 200px;
  height: 240px;
}
.nav-container ul li:hover ul {
  border-bottom: 3px solid #33a9fe;
  display: block;
  position: absolute;
  padding-top: 27px;
  width: 200px;
  height: 250px;
}
.nav-container ul li ul li {
  border-top: 1px solid #ececec;
  height: 80px;
  display: block;
}
.nav-container ul li ul li a {
  background-color: #282c34;
  display: block;
  padding: 27px;
  color: #ececec;
}
.nav-container ul li ul li:hover a {
  background-color: #d4d4d4;
  display: block;
  padding: 27px;
  color: #282c34;
}


.first-container {
  min-width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.first-div {
  background-color: #ececec;
  width: 785px;
  height: 900px;
  margin-top: 80px;
  border: #ececec solid 50px;
  text-align: left;
  display: inline-block;
  overflow: hidden;
}

.first-slide-btn {
  white-space: normal;
  text-align: center;
  width: 785px;
  height: 500px;
}
.first-slide-btn input{
  width: 30px;
  height: 15px;
  margin: 5px;
  display: none;
}
#first-slide-btn1:checked ~ .first-slide {transform: translate(-0px);}
#first-slide-btn2:checked ~ .first-slide {transform: translate(-785px);}
#first-slide-btn3:checked ~ .first-slide {transform: translate(-1570px);}

.first-slide-div label {position: absolute; z-index:1;transform:translateY(170px);padding:50px;cursor: pointer; display: none;}
.left {left:-20px;background:url('/public/img/left.jpg') center center / 100% no-repeat;} /* LEFT -300px로 화살표가 안보이게 되어있도록 준 스타일 */
.right {right:-20px;background:url('/public/img/right.jpg') center center / 100% no-repeat;} /* RIGHT -300px로 화살표가 안보이게 되어있도록 준 스타일 */

.first-slide:hover label {display: inline-block;}

.first-slide {
  width: 2355px;
  white-space: nowrap;
  transition: all 0.5s;
}
.first-slide-div {
  width: 785px;
  height: 441px;
  float: left;
  overflow: hidden;
  position: relative;
}
.first-slide-div img{
  width: 100%;
}
.first-div-list {
  background-color: #e7e7e7;
  width: 685px;
  height: 290px;
  border: #e7e7e7 solid 50px;
  white-space: normal;
}


.second-div {
  background-color: #696969;
  width: 250px;
  height: 900px;
  margin-left: 15px;
  border: #696969 solid 50px;
  text-align: left;
  display: inline-block;
  padding-right: 200px;
  color: #ececec;
  overflow: hidden;
  white-space: nowrap;
}


.second-container {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  white-space: nowrap;
}
.third-div {
  background-color: #ececec;
  width: 1350px;
  height: 500px;
  border: #ececec solid 50px;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}


.footer-container {
  background-color: #282c34;
  width: 100%;
  height: 350px;
  margin-top: 120px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.footer-div {
  background-color: #282c34;
  width: 1350px;
  height: 250px;
  color: #ececec;
  border: #282c34 solid 50px;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}